body {
    
    color: white;
}
.hero {
    background-color: darkblue;
}
.form-label {
    color: black;
}
.card-body {
    color: black;
    border-width: 5px;
    border-color: black;
}
#btn {
    color: white;
    font-weight: bold;
}